

/* header{
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 100px;
    background-color:pink;
    font-family: 'Concert One', 'cursive';

}

#button-appears-here{
    margin: 20px;
    padding: 10px;
}



#container{
    background-color: lightgray;
    margin: 20px;
    padding: 10px 10px;
}

#find-gif{
    margin-top: 10px;
    padding-top: 5px;
}


 */
